Options +FollowSymLinks
RewriteEngine On
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
RewriteRule ^index\.html$ https://landshaft-ecosp.ru [R=301,L]
RewriteCond %{HTTP_HOST} ^www.landshaft-ecosp.ru\.ru$ [NC]
RewriteRule ^(.*)$ https://landshaft-ecosp.ru/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^https://landshaft-ecosp.ru\.ru$ [NC]
RewriteRule ^(.*)$ https://landshaft-ecosp.ru/$1 [R=301,L]


